asgiref==3.5.0
autopep8==1.6.0
Django==4.0.4
django-appconf==1.0.5
django-classy-tags==3.0.1
django-compressor @ git+https://github.com/django-compressor/django-compressor.git@2961561b9b8bf43d48d190776db9e097548ab0a5
django-sekizai==3.0.1
flake8==4.0.1
mccabe==0.6.1
mypy==0.950
mypy-extensions==0.4.3
pycodestyle==2.8.0
pyflakes==2.4.0
rcssmin==1.1.0
rjsmin==1.2.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
typing_extensions==4.2.0
